* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main_container {
    width: 100%;
    height: 100vh;
    background: var(--background-gradient);
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center_top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.center_bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*************************************************************/
/* box design style */
/*************************************************************/
.box_decor,
.box_decor div {
    position: relative;
    background: var(--decor-color);
    aspect-ratio: 1/1;
    box-shadow: var(--box-shadow);
    border-radius: 1px;
}   

.box_decor.decor_1 {
    width: 250px;
    transform: translate(-240%, -130%);
}

.box_decor.decor_1 div {
    width: 80%;
}

.box_decor.decor_2 {
    width: 350px;
    transform: translate(100%, -60%);
}

.box_decor.decor_2 div {
    width: 75%;
}

/*************************************************************/
/* nav style */
/*************************************************************/
.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: var(--main-font);
    text-shadow: var(--text-shadow);
}

.nav_item{
    list-style: none;
    margin: 0 10px;
}

.nav_item > a{
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.3s ease;
}

.nav_item > a:hover,
.nav_active > a {
    color: var(--red-color);
    text-shadow: var(--text-shadow);
    text-decoration: underline;
    text-underline-offset: 5px;
}


/*************************************************************/
/* icon container style */
/*************************************************************/
.icon_container{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 } 
 
 .icon_container i{
     font-size: 1.5rem;
     color: var(--white-color);
     transition: all 0.3s ease;
     cursor: pointer;
     text-shadow: var(--icon-shadow);
 }
 
 .icon_container i:hover{
     color: var(--red-color);
     text-shadow: var(--icon-shadow);
 }